.container {
  background-image: url('/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.globe {
  position: absolute;
  top: 0;
  /* transform: rotateX(100deg); */
}
.section {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.heading1 {
  margin-top: -5vw !important;
  color: #16e16e;
  font-size: 20em;
  margin: 0;
  line-height: 0.7;
}

.circle {
  position: absolute;
  bottom: -77vw;
  aspect-ratio: 1;
  width: 94.271vw;
  border-radius: 94.271vw;
  background: transparent;
  box-shadow: 0px 0px 210.4px 134.667px rgba(0, 0, 0, 0.25) inset, 0px 0px 84.6px 90px rgba(0, 0, 0, 0.25);
}

.heading2 {
  font-size: 9.25em;
  margin: 0;
  /* margin-top: -20vh; */
}